# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Screen_Cheat
/Debug
/MainProject/Debug
/MainProject/Release
/MainProject/x64/Release
/Release
/Screen_Cheat/Debug
/Screen_Cheat/Release
/Screen_Cheat/x64
/x64/Debug
/MainProject/x64/Debug
